[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "phenomap"]
	path = phenomap
	url = https://github.com/jepsonnomad/phenomap
	shallow = true
	registered = true
